2023年  3月 26日 日曜日 09:36:58 JST: Executing: az vm list-ip-addresses   --resource-group exp-domino   --output table
VirtualMachine          PublicIPAddresses    PrivateIPAddresses
----------------------  -------------------  --------------------
vm1-westus              20.253.202.210       10.16.0.4
vm1-eastus              74.235.60.67         10.15.0.4
vm1-southeastasia       20.212.18.110        10.6.0.4
vm1-centralus           40.83.38.44          10.14.0.4
vm1-eastus2             20.69.253.192        10.1.0.4
vm1-japaneast           20.89.155.231        10.10.0.4
vm1-brazilsouth         20.226.18.40         10.8.0.4
vm1-australiasoutheast  20.70.104.243        10.7.0.4
vm1-southindia          20.235.22.13         10.18.0.4
vm1-canadacentral       20.104.70.97         10.9.0.4
vm1-uksouth             20.58.51.231         10.13.0.4
vm1-koreacentral        20.196.216.141       10.11.0.4
vm1-francecentral       20.199.119.239       10.17.0.4
vm1-swedencentral       20.240.134.95        10.12.0.4
