
13 japaneast,westus,brazilsouth japaneast,westus,brazilsouth,
14 japaneast,westus japaneast,westus,brazilsouth,
15 japaneast japaneast,westus,brazilsouth,
1 japaneast,westus,brazilsouth,australiasoutheast,uksouth japaneast,westus,brazilsouth,australiasoutheast,uksouth,
2 japaneast,westus,brazilsouth,australiasoutheast japaneast,westus,brazilsouth,australiasoutheast,uksouth,
3 japaneast,westus,brazilsouth japaneast,westus,brazilsouth,australiasoutheast,uksouth,
4 japaneast,westus japaneast,westus,brazilsouth,australiasoutheast,uksouth,
5 japaneast japaneast,westus,brazilsouth,australiasoutheast,uksouth,